#whiteBox{


    background-color:hsl(0, 0%, 100%);
margin: auto;
    height: 650px;
    width: 400px;
    border-radius: 30px;
  
    

}
.long{
font-size: 30px;
margin: auto;
text-align: center;
font-weight:bold
}

.short{
font-size: 20px;
text-align: center;
}
@media(max-width=400px){
    .whiteBox{
        width: 470px;
    }

}
